<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Frontend Template</title>
  </head>
  
  <body>
    <div id="app"><%-root%></div>
    <script src="./bundle.js"></script>
  </body>
</html>
